/* General Styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #ffda45; /* Text color */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background: #2b2b2b; /* Background color */
}

/* Navigation Styles */
.navbar {
    background: #000;
    font-weight: bold;
    text-align: center;
    padding: 2px 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
}

.navbar li {
    display: inline;
    margin: 0 16px;
}

.navbar a {
    color: #ffda45; /* Text color */
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    transition: color 0.3s;
}

.navbar a:hover {
    background-color: #2b2b2b;
    color: #ff4b04;
    padding: 10px;
}

/* Header Styles */
.header {
    background: rgba(0, 0, 0, 0.7);
    color: #ffda45; /* Text color */
    height: 100vh; /* Full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}

.header-content {
    max-width: 80%;
    margin: 0 auto;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.header p {
    font-size: 1.2rem;
}

/* Main Section Styles */
main {
    width: 80%;
    margin: 20px auto;
}

.section {
    background: #2b2b2b; /* Section background color */
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.section h2 {
    color: #ffda45; /* Text color */
    text-align: center; /* Center align section titles */
}

.section p {
    color: #fdeebc; /* Text color */
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif
}

.section ul {
    list-style: none;
    padding: 0;
}

.section ul li {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.particles-js-canvas-el {
    color: #ffda45;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.highlight-text {
    color: #ffda45;
    font-weight: bold;
    padding: 25px;
}

.link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guide-link {
    color: #ffda45;     /* Your desired color */
    text-decoration: none;
    font-weight: normal;
}

.guide-link:hover {
    color: #ff4b04; /* Color on hover */
}

.view-link {
    background-color: #ffda45; /* Yellow background */
    color: #000; /* Text color */
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 200px; /* Space between the links */
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.view-link:hover {
    background-color: #000; /* Background color on hover */
    color: #ff4b04; /* Text color on hover */
}

.project-link {
    background-color: #ffda45; /* Yellow background */
    color: #000; /* Text color */
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}
.project-link:hover {
    background-color: #000; /* Background color on hover */
    color: #ff4b04; /* Text color on hover */
}

/* Education Section Styles */
.education-container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
}

.column h3 {
    text-align: center;
    color: #ffda45; /* Text color */
}

/* Projects Section Styles */
.projects-container {
    display: flex;
    justify-content: space-between;
}

.project {
    background: rgba(255, 255, 255, 0.1);
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.project-slider {
    position: relative;
    width: 100%; /* Reduce the image size to 75% of its container */
    max-width: 900px; /* Optional: Limit the maximum size */
    overflow: hidden;
    margin: 0 auto;
}

.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slides img {
    width: 100%;
    border-radius: 10px;
}

/* Slider Navigation */
.slider-nav {
    text-align: center;
    margin-top: 10px;
}

.slider-nav button {
    background-color: #ffda45;
    border: none;
    color: #2b2b2b;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
}

.slider-nav button:hover {
    background-color: #2b2b2b;
    color: #ff4b04;
}

.slide {
    min-width: auto;
    transition: transform 0.5s ease-in-out;
    object-fit: cover; /* Ensure the image covers the entire slide area */
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover, button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Social Icons Styles */
.social-icons {
    text-align: center;
    padding: 20px 0;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    color: #ffda45; /* Text color */
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ff4b04;
}

/* Footer Styles */
.footer {
    background: rgba(0, 0, 0, 0.8);
    color: #ffda45; /* Text color */
    text-align: center;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

.footer h2 {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}

.footer .social-icons {
    margin-bottom: 10px;
}

.footer p {
    margin: 0;
}
